.container {
  @apply mx-auto pointer-events-none;
  width: 600px;

  transition: 800ms;

  background: white;
  min-height: 100vh;

  padding-top: 10vh;
  box-sizing: border-box;
  margin-top: 0;
}

.container:hover {
  filter: invert(1);
}

.hero {
  position: relative;
  max-width: 600px;

  @apply mb-6;
}

.hero img {
  animation: move 600ms forwards infinite steps(13);
}

.logo {
  position: absolute;
  top: 0;
}

@keyframes move {
  from {
    transform: translateX(0) scale(1.4);
  }

  to {
    transform: translateX(13%) scale(1.4);
  }
}
