.container {
  @apply mx-auto pointer-events-none;
  max-width: 600px;
  width: 100%;

  transition: 800ms;

  background: white;
  min-height: 100vh;

  padding-top: 10vh;
  box-sizing: border-box;
  margin-top: 0;
}

.container:hover {
  filter: invert(1);
}
